@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<!--start-->
<!--start section-->
<section class="nicdark_section">

	<div class="tp-banner-container">
		<div class="nicdark_slide1" >
			
			<ul>
				
				<!--start second-->
				<li data-transition="fade" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on"  data-title="LESSON">
					<img src="/img/slide/img3.jpg"  alt="" data-lazyload="/img/slide/img3.jpg" data-bgposition="center bottom" data-bgfit="cover" data-bgrepeat="no-repeat">
				</li>
				<!--end second-->

				<!--start first-->
				<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on"  data-title="FRIENDS">
					<img src="/img/slide/img3.jpg"  alt="" data-lazyload="/img/slide/img3.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">	
				</li>
				<!--end first-->

			</ul>
			
		</div>
	</div>

</section>

