@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
	
	<div class="container">
        <div class="row">

            
                    <a class="">
                    @Html.Partial("MemberSignUp");
                    </a>

            

        </div>
    </div>
}

@* the fun starts here *@

